.feedback {
  background: linear-gradient(139deg, rgba(4, 24, 39, 0.5) 33%, #00b3ff 33%), #00b3ff;

  @include vp-1023 {
    background: #00b3ff;
  }
}

.feedback__container {
  max-width: 1320px;
  margin: 0 auto;
}

.feedback__wrapper {
  display: flex;
  align-items: center;
  padding: 170px 50px;

  @include vp-1023 {
    padding: 50px 50px 130px;
  }

  @include vp-767 {
    padding: 50px 25px 90px;
    justify-content: center;
  }
}

.feedback__image-container {
  margin-right: 115px;

  @include vp-1023 {
    display: none;
  }
}

.feedback__title {
  margin: 0 0 15px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-default-white;

  @include vp-1023 {
    margin: 0 0 10px;
  }

  @include vp-767 {
    margin: 0 0 20px;
    font-size: 30px;
    line-height: 42px;
  }
}

.feedback__description {
  margin: 0 0 35px;
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;

  @include vp-1023 {
    margin: 0 0 25px;
  }

  @include vp-767 {
    margin: 0 0 40px;
    font-size: 14px;
    line-height: 19px;
  }
}
