.footer-contacts {
  @include vp-1150 {
    width: 174px;
  }

  @include vp-1023 {
    min-width: 308px;
  }

  @include vp-767 {
    position: relative;
    width: 100%;
    min-width: 100%;

    &::before {
      content: "";
      width: 100vw;
      height: 1px;
      background-color: rgba(248, 253, 255, 0.7);
      position: absolute;
      left: -25px;
    }

    &::after {
      content: "";
      width: 100vw;
      height: 1px;
      background-color: rgba(248, 253, 255, 0.7);
      position: absolute;
      left: -25px;
    }
  }
}

.footer-contacts__title {
  margin: 0 0 20px;

  @include vp-767 {
    width: 100%;
    padding: 20px 15px 20px 0;
    margin: 0;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      top: 28px;
      width: 15px;
      height: 1px;
      background-color: #f8fdff;
    }

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 28px;
      width: 15px;
      height: 1px;
      background-color: #f8fdff;
      transform: rotate(90deg);
    }
  }
}

.footer-contacts__list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include vp-767 {
    display: none;
  }
}
