.main-footer {
  background-color: #041827;
}

.main-footer__wrapper {
  @include vp-1023 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 0 27px;
  }

  @include vp-767 {
    flex-direction: column;
    margin-bottom: 24px;
  }
}

.main-footer__logo {
  display: block;
  margin: 0 0 30px 0;

  @include vp-1023 {
    margin: 0 auto 0 0;
  }

  @include vp-767 {
    margin: 0 5px 15px 0;
  }
}

.main-footer__link {
  font-family: $ff-primary;
  font-size: 16px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.7);

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
  }

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-footer__footer-navigation {
  margin-top: 8px;

  @include vp-1023 {
    margin-top: 10px;
  }

  @include vp-767 {
    margin-top: 0;
  }
}

.main-footer__footer-contacts {
  margin: 8px 0 0 10px;

  @include vp-1023 {
    margin: 10px 22px 0 10px;
  }

  @include vp-767 {
    margin: 0;
  }
}
