.main-block {
  background-image: image-set(
      "../img/bg-main.webp" 1x,
      "../img/bg-main@2x.webp" 2x,
      "../img/bg-main.jpg" 1x,
      "../img/bg-main.jpg" 2x
      );
  background-repeat: no-repeat;
  background-size: cover;

  @include vp-1023 {
    min-height: 640px;
    background-position: 20% 0;
  }

  @include vp-767 {
    min-height: 560px;
    background-position: 25% 0;
  }
}

.main-block__image-container {
  position: relative;
  min-height: 880px;

  @include vp-1023 {
    min-height: 640px;
  }

  @include vp-767 {
    min-height: 560px;
  }
}

.main-block__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  object-fit: cover;
  width: 100%;
  height: 100%;
  background-color: #314d6e;

  @include vp-1023 {
    height: 640px;
    object-position: -124px 0;
  }

  @include vp-767 {
    height: 560px;
    object-position: -230px 0;
  }
}

// .main-block__overlay {
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: -1;
//   background: linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%);

//   @include vp-1023 {
//     top: -80px;
//   }

//   @include vp-767 {
//     height: 560px;
//   }
// }

.main-block__title {
  margin: 0 0 33px;
  font-family: $ff-secondary;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #f2f5f7;

  @include vp-1023 {
    margin: 0;
    font-size: 64px;
    line-height: 75px;
  }

  @include vp-767 {
    margin: 0 0 8px;
    font-size: 36px;
    line-height: 42px;
  }
}

.main-block__description {
  width: 80%;
  margin: 0 0 47px;
  font-family: $ff-primary;
  font-size: 22px;
  line-height: 34px;
  color: #f2f5f7;

  @include vp-1023 {
    width: 92%;
    margin: 0 0 58px;
  }

  @include vp-767 {
    width: 100%;
    margin: 0 0 44px;
    font-size: 14px;
    line-height: 22px;
  }
}

.main-block__link {
  display: block;
  width: 49%;
  padding: 16px 25px;
  background-color: #00b2ff;
  border-radius: 3px;
  cursor: pointer;

  @include vp-1023 {
    width: 61%;
    margin-left: 45px;
    padding: 17px 25px;
  }

  @include vp-767 {
    width: 100%;
    margin-left: 0;
    padding: 13px 25px 11px;
    font-size: 14px;
    line-height: 16px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.main-block__text {
  font-family: $ff-secondary;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #f2f5f7;

  @include vp-767 {
    font-size: 14px;
    line-height: 16px;

    &--mobile {
      display: block;
    }

    &--desktop {
      display: none;
    }
  }

  @include vp-tablet-desktop {
    &--mobile {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}
