.main-block {
  
}

.main-block__image {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 880px;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%);
}
