.products {
  background-color: #041827;
}

.products__container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 64px 50px 143px;

  @include vp-1023 {
    padding: 55px 50px 76px;
  }

  @include vp-767 {
    padding: 47px 25px 86px;
  }
}

.products__title {
  margin: 0 0 52px;
  font-family: $ff-secondary;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-default-white;

  &--mobile {
    display: none;

    @include vp-767 {
      display: block;
    }
  }

  @include vp-1023 {
    margin: 0 0 36px;
  }

  @include vp-767 {
    margin: 0 0 29px;
    font-size: 28px;
    line-height: 39px;

    &--desktop {
      display: none;
    }
  }
}

.products__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 85px;
  width: 100%;

  @include vp-1023 {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.products__item {
  position: relative;
  min-height: 650px;
  padding: 50px 40px;
  background-color: #314d6e;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include vp-1023 {
    min-height: 250px;
    width: 100%;
    padding: 40px 45px;
  }

  @include vp-767 {
    padding: 26px 30px;
  }

  &--manufacture {
    background-image: image-set(
      "../img/bg-desktop-card1.webp" 1x,
      "../img/bg-desktop-card1@2x.webp" 2x
      );

    @include vp-1023 {
      background-image: image-set(
      "../img/bg-tablet-card1.webp" 1x,
      "../img/bg-tablet-card1@2x.webp" 2x
      );
    }

    @include vp-767 {
      background-image: image-set(
      "../img/bg-mobile-card1.webp" 1x,
      "../img/bg-mobile-card1@2x.webp" 2x
      );
    }
  }

  &--installation {
    background-image: image-set(
      "../img/bg-desktop-card2.webp" 1x,
      "../img/bg-desktop-card2@2x.webp" 2x
      );

    @include vp-1023 {
      background-image: image-set(
      "../img/bg-tablet-card2.webp" 1x,
      "../img/bg-tablet-card2@2x.webp" 2x
      );
    }

    @include vp-767 {
      background-image: image-set(
      "../img/bg-mobile-card2.webp" 1x,
      "../img/bg-mobile-card2@2x.webp" 2x
      );
    }
  }

  &--accessories {
    background-image: image-set(
      "../img/bg-desktop-card3.webp" 1x,
      "../img/bg-desktop-card3@2x.webp" 2x
      );

    @include vp-1023 {
      background-image: image-set(
      "../img/bg-tablet-card3.webp" 1x,
      "../img/bg-tablet-card3@2x.webp" 2x
      );
    }

    @include vp-767 {
      background-image: image-set(
      "../img/bg-mobile-card3.webp" 1x,
      "../img/bg-mobile-card3@2x.webp" 2x
      );
    }
  }
}

.products__item-link {
  display: block;
  height: 100%;
  width: 100%;
}

.products__item-subtitle {
  width: 67%;
  margin: 0;
  font-family: $ff-secondary;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: $color-default-white;

  & br {
    display: none;
  }

  @include vp-1023 {
    width: 34%;

    & br {
      display: block;
    }
  }

  @include vp-767 {
    width: 74%;
    font-size: 18px;
    line-height: 30px;
  }
}

.products__item-button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00b2ff;
  border-radius: 3px 0 0 0;

  @include vp-767 {
    width: 40px;
    height: 40px;
  }

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.3;
  }
}
