.social__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 205px;
  gap: 15px;
  margin-left: 10px;
}

.social__link {
  display: flex;
  padding: 5px;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.3;
  }
}
